footer {
	padding-top: 20px;
	color: #999;
	max-width: 1000px;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer > p {
	margin: 0 0 30px;
}

footer > ul {
	margin: 0;
	padding: 0;
}

footer > ul > li {
	list-style: none;
	margin: 0 0 16px;
	padding-right: 12px;
	min-width: 100px;
	font-size: 13px;
}

.columns {
	display: flex;
}

.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

.column.is-25 {
	flex: none;
	width: 25%;
}

.column.is-narrow {
	flex: none;
}

.columns.flex-wrap {
	flex-wrap: wrap;
}

.center {
	margin: 0 auto;

}

.size-90 {
	width: 90%;
}

.size-80 {
	width: 80%;
}

.size-70 {
	width: 70%;
}

.text-center {
	text-align: center;
}

#lang-selection {
	margin-bottom: 15px;
}

.social-medias {
	padding: 20px 0;
}

.social-medias .social-icon {
	margin-right: 20px;
}